<?xml version="1.0"?>
<SettingsDto xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <SoundVolume>10</SoundVolume>
  <MinDistanceBetweenHydrants>2</MinDistanceBetweenHydrants>
  <MinStartHydrantCount>5</MinStartHydrantCount>
  <MaxStartHydrantCount>8</MaxStartHydrantCount>
  <MinHydrantCapacity>100</MinHydrantCapacity>
  <MaxHydrantCapacity>200</MaxHydrantCapacity>
  <MinFillHydrantSpeed>10</MinFillHydrantSpeed>
  <MaxFillHydrantSpeed>20</MaxFillHydrantSpeed>
  <MinTurnsToNextHydrant>2</MinTurnsToNextHydrant>
  <MaxTurnsToNextHydrant>5</MaxTurnsToNextHydrant>
  <BonusPipeChance>5</BonusPipeChance>
  <MinStartAvaliablePipesCount>3</MinStartAvaliablePipesCount>
  <MaxStartAvaliablePipesCount>6</MaxStartAvaliablePipesCount>
  <MinPipeLengthMin>2</MinPipeLengthMin>
  <MinPipeLengthMax>4</MinPipeLengthMax>
  <MaxPipeLengthMin>5</MaxPipeLengthMin>
  <MaxPipeLengthMax>12</MaxPipeLengthMax>
  <MinStreamPower>30</MinStreamPower>
  <MaxStreamPower>50</MaxStreamPower>
  <FirstMiniGameTimeLimit>15</FirstMiniGameTimeLimit>
  <SecondMiniGameTimeLimit>25</SecondMiniGameTimeLimit>
  <ThirdMiniGameTimeLimit>30</ThirdMiniGameTimeLimit>
  <PipeItemSizeDelta>84</PipeItemSizeDelta>
  <SettingsFileName>settings.xml</SettingsFileName>
  <GameResultsFileName>gameResults.xml</GameResultsFileName>
  <PositiveHydrantColor>
    <r>0.854901969</r>
    <g>0.854901969</g>
    <b>0.854901969</b>
    <a>1</a>
  </PositiveHydrantColor>
  <NegativeHydrantColor>
    <r>0.9098039</r>
    <g>0.07450981</g>
    <b>0.07450981</b>
    <a>1</a>
  </NegativeHydrantColor>
  <PipeLengthOutOfRangeColor>
    <r>1</r>
    <g>0</g>
    <b>0</b>
    <a>1</a>
  </PipeLengthOutOfRangeColor>
  <PipeLengthInRangeColor>
    <r>0.948478639</r>
    <g>1</g>
    <b>0.0661764741</b>
    <a>1</a>
  </PipeLengthInRangeColor>
  <PipeConnectedColor>
    <r>0.7941176</r>
    <g>0.7941176</g>
    <b>0.7941176</b>
    <a>1</a>
  </PipeConnectedColor>
  <PipeActivatedColor>
    <r>0</r>
    <g>1</g>
    <b>0.08965492</b>
    <a>1</a>
  </PipeActivatedColor>
</SettingsDto>